{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 mt-3 text-center">
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-1">
                <a href="{{ path('author_create') }}" class="btn btn-success">Create new author</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-5">
                <h2>Authors list</h2>
                <ul>
                    {% for author in authors %}
                        <li>{{ author.name }} ({{ author.books.count }} books)</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
